* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    justify-content: center;
    padding-top: 100px;
}
.content {
    padding: 10px 10px;
    display: flex;flex-direction: column;
    border: solid 2px ;
    max-width: 500px;
    overflow: hidden;
}

h1 {
    background-color: bisque;
    width: 100%;
    text-align: center;
    font-size: 3vw;
}

#number {
    width: 100%;
    max-width: 100%;
}
#result {
    font-size: 2vw;
}
#chance-count {
    font-size: 2vw;
}

@media (max-width: 48rem){
    .content {
        min-width: 30vw;   
    }
}